body {
  display: flex;
  flex-direction: column;
  font-family: roboto, 'helvetica';
  margin: 0;
}

.dark-background {
  background-color: #1F2937;
}

.grey-background {
  background-color: #E5E7EB
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #F9FAF8;
  margin-top: 16px;
}

.header-logo {
  font-size: 24px;
}

ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
    color: #E5E7EB;
}

.main-title {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.subtext {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-main{
  font-size: 48px;
  font-weight: bolder;
}

body > * {
  padding-left: 64px;
  padding-right: 64px;
}